@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #282828;
  --color-primary-light: #3b82f6;
  --color-primary-dark: #1d4ed8;

  --color-secondary: #D9D9D9;
  --color-accent: #10b981;

  --color-background: #f8f8f8;
  --color-surface: #ffffff;

  --color-text: var(--color-primary);
  --color-text-muted: #64748b;

  --color-border: #e2e8f0;

  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;

  /* Fonts */
  --font-sans: "Raleway", sans-serif , 'Operator-caska';
  --font-heading: "Abril Fatface", serif;

  /* Radius */
  /* --radius-sm: 0.375rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem; */

  /* Shadows */
  --shadow-card: 0 2px 10px rgb(0 0 0 / 0.08);
  --shadow-hover: 0 8px 30px rgb(0 0 0 / 0.12);

  --background-image-grain: url('/assets/grain.png');
}

@layer base {
  body {
    @apply bg-background text-text font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-semibold;
  }

  button {
    @apply cursor-pointer;
  }

  img {
    @apply max-w-full block;
  }

  a {
    @apply transition-colors duration-200;
  }
}